{% extends 'base.html' %}
{% block opciones %}


{% endblock %}
{% block content %}
    <div class="row">
        {% for foo in clases_archivadas %}
            <div class="col-md-3">
                <div class="card card-primary card-outline direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ foo.nombre }}</h3>

                        <div class="card-tools">

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-offset="-52">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a href="#" class="dropdown-item">Copiar enlace de invitación</a>
                                    <a href="#" class="dropdown-item">Editar</a>
                                    <a href="javascript:;"
                                       onclick="accion_archivar_clase('restaurar_clase','{{ foo | upper }}','{{ foo.pk }}')"
                                       class="dropdown-item">Restaurar</a>

                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <br><br><br><br><br><br><br><br>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <br><br>
                    </div>
                    <!-- /.card-footer-->
                </div>

            </div>

        {% endfor %}


    </div>
{% endblock %}


{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class=" contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function ventana_modal(peticion, pk, titulo) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                dataType: "json",
                data: {
                    'peticion': peticion,
                    'id': pk,
                },
                success: function (data) {
                    if (data.respuesta === true) {
                        $('.contenido-modal').html(data.data);
                        $('#modalGeneric .modal-title').html(titulo);
                        $("#modalGeneric").modal({backdrop: 'static'}).modal('show');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    alert("Error de conexión.");
                },

            });
        }

        function accion_archivar_clase(peticion, registro, id) {

            Swal.fire({
                title: '¿Estás seguro de restaur esta clase?',
                text: registro,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, restaurar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            peticion: peticion,
                            id: id,
                        },
                        dataType: "json",
                        beforeSend: function () {

                        }
                    }).done(function (data) {
                        if (data.respuesta === true) {
                            Swal.fire(
                                'Restaurada!',
                                data.mensaje,
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        } else {

                            Swal.fire(data.mensaje);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        mensaje_alerta('Error al intentar conectar con el servidor', 'Error de conexiòn');
                    }).always(function () {
                    });


                }

            })


        }
    </script>
{% endblock %}