{% extends 'base.html' %}
{% block opciones %}
{% endblock %}
{% block content %}
    <div class="card">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tablon-tab" data-toggle="tab" href="#tablon" role="tab" aria-controls="tablon"
               aria-selected="true">Panel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="trabajo_de_clase-tab" data-toggle="tab" href="#trabajo_de_clase" role="tab" aria-controls="trabajo_de_clase"
               aria-selected="false">Trabajo de clase</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="personas-tab" data-toggle="tab" href="#persona" role="tab" aria-controls="persona"
               aria-selected="false">Personas</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" id="calificaciones-tab" data-toggle="tab" href="#calificaciones" role="tab" aria-controls="calificaciones"
               aria-selected="false">Calificaciones</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tablon" role="tabpanel" aria-labelledby="tablon-tab">
            {% include 'clase/tablon.html' %}
        </div>
        <div class="tab-pane fade" id="trabajo_de_clase" role="tabpanel" aria-labelledby="trabajo_de_clase-tab">
            {% include 'clase/trabajo_de_clase.html' %}
        </div>
        <div class="tab-pane fade" id="persona" role="tabpanel" aria-labelledby="personas-tab">
            {% include 'clase/personas.html' %}
        </div>
        <div class="tab-pane fade" id="calificaciones" role="tabpanel" aria-labelledby="calificaciones-tab">
            {% include 'clase/calificaciones.html' %}
        </div>
    </div>
    </div>

{% endblock %}


{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class=" contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
