<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <select id="tipo_actividad" class="custom-select rounded-0" id="exampleSelectRounded0">
                <option id="">------------</option>
                <option id="option_tarea">Subir Tarea</option>
                <option id="option_material">Subir Material</option>
                <option id="option_video">Subir Video</option>
            </select>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th class="text-center" style="width: 1%">
                    N°.
                </th>
                <th class="text-center" style="width: 20%">
                    Titulo
                </th>
                 <th class="text-center" style="width: 20%">
                    Tipo
                </th>
                <th class="text-center" style="width: 20%">
                    Fecha Publicación
                </th>
                <th class="text-center" style="width: 20%">
                    Acciones
                </th>
            </tr>
            </thead>
            <tbody>
            {% for foo in publicacion %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>

                     <td class="text-center">
                        {{ foo.titulo }}
                    </td>

                    <td class="text-center">
                        {{ foo.get_tipo_publicacion_display }}
                    </td>
                    <td class="text-center">
                        {{ foo.fecha_creacion }}
                    </td>

                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                    data-toggle="dropdown"
                                    data-offset="-52">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                {% if foo.tipo_publicacion == 1 %}
                                     <a href="javascript:;"
                                   class="dropdown-item">Calificar</a>

                                {% endif %}
                                <a href="javascript:;"
                                   onclick="ventana_modal('editar_clase','{{ foo.pk }}','Editar clase')"
                                   class="dropdown-item">Editar</a>


                                <a href="javascript:;"
                                   class="dropdown-item">Eliminar</a>
                            </div>
                        </div>
                    </td>


                </tr>

            {% endfor %}


            </tbody>
        </table>
    </div>
    <br><br><br><br><br><br>
</div>
