{% extends 'base.html' %} {% block content %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="container mt-3">
        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card card-outline-secondary">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off" method="post">
                            <fieldset class="form-group">
                                {% include "form_snippet.html" %}
                            </fieldset>
                            <div class="m-t-20 text-center">
                                <a type="button" class="btn btn-danger submit-btn" href="javascript:history.back()">Cancelar</a>
                                <button type="submit" class="btn btn-primary submit-btn">Cambiar Contraseña</button>
                            </div>

                        </form>
                    </div>
                </div>


            </div>

            <div class="col-md-1">

            </div>


        </div>

    </div>



    </div>





{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="/">
                        {% csrf_token %}
                        <div class=" contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function ventana_modal(peticion, pk, titulo) {
            $.ajax({
                type: "GET",
                url: `/`,
                dataType: "json",
                data: {
                    'peticion': peticion,
                    'id': pk,
                },
                success: function (data) {
                    if (data.respuesta === true) {
                        $('.contenido-modal').html(data.data);
                        $('#modalGeneric .modal-title').html(titulo);
                        $("#modalGeneric").modal({backdrop: 'static'}).modal('show');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    alert("Error de conexión.");
                },

            });
        }

        function accion_archivar_clase(peticion, registro, id) {

            Swal.fire({
                title: '¿Estás seguro de archivar esta clase?',
                text: registro,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, archivar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            peticion: peticion,
                            id: id,
                        },
                        dataType: "json",
                        beforeSend: function () {

                        }
                    }).done(function (data) {
                        if (data.respuesta === true) {
                            Swal.fire(
                                'Archivado!',
                                data.mensaje,
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        } else {

                            Swal.fire(data.mensaje);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        mensaje_alerta('Error al intentar conectar con el servidor', 'Error de conexiòn');
                    }).always(function () {
                    });


                }

            })


        }
    </script>


{% endblock %}