{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="card card-primary card-outline direct-chat direct-chat-primary">
                <div class="card-header">
                    <h3 class="card-title">Programación web III</h3>

                    <div class="card-tools">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                                    data-offset="-52">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <a href="#" class="dropdown-item">Copiar enlace de invitación</a>
                                <a href="#" class="dropdown-item">Editar</a>
                                <a href="#" class="dropdown-item">Archivar</a>

                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <br><br><br><br><br><br><br><br>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <br><br>
                </div>
                <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->
        </div>
    </div>
{% endblock %}
