<!DOCTYPE html> {% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>SAYCT</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'estilo/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'estilo/css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'estilo/css/startmin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'estilo/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restrablecer contraseña.</h3>
                </div>
                <div class="panel-body">
                    <div class="">

                        {% if validlink %}
                            <p>Ingrese (y confirme) su nueva contraseña.</p>
                            <form action="" method="post">
                                <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                                <table>
                                    <tr>
                                        <td>{{ form.new_password1.errors }}
                                            <label for="id_new_password1">Nueva contraseña:</label>
                                        </td>
                                        <td>{{ form.new_password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.new_password2.errors }}
                                            <label for="id_new_password2">Confirmar Contraseña:</label>
                                        </td>
                                        <td>{{ form.new_password2 }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" class="btn btn-primary account-btn "
                                                   value="Change my password"/></td>
                                    </tr>
                                </table>
                            </form>
                        {% else %}
                            <h1>Error al restablecer la contraseña</h1>
                            <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha
                                utilizado.
                                Solicite un nuevo restablecimiento de contraseña.</p>
                        {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static 'estilo/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'estilo/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'estilo/js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'estilo/js/startmin.js' %}"></script>
</body>

</html>