<!DOCTYPE html> {% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>LabCov - Medical</title>

</head>

<body>
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">

                {% if validlink %}
                    <p>Ingrese (y confirme) su nueva contraseña.</p>
                    <form action="" method="post">
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">Nueva contraseña:</label>
                                </td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirmar Contraseña:</label>
                                </td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-primary account-btn "
                                           value="Change my password"/></td>
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <h1>Error al restablecer la contraseña</h1>
                    <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
                        Solicite un nuevo restablecimiento de contraseña.</p>
                {% endif %}


            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>

</html>