{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                {% else %}
                    {% for foo in request.user.groups.all %}
                        {% if not foo.pk == 2 %}
                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/clase/?peticion=cursos_inscritos">Inicio</a></li>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">Curso</li>
                <li class="breadcrumb-item active" aria-current="page">{{ tarea.publicacion.clase.nombre }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ tarea.publicacion.titulo }}</li>
            </ol>
        </nav>


    </div>

{% endblock %}
{% block content %}
    <div class="container-fluid ">
        <div class="card card-widget widget-user">

            <div class="widget-user-header text-white"
                 style="background: url({% static 'dist/img/photo2.png' %}) center center;">
                <h3 class="widget-user-username text-right">{{ tarea.clase.nombre }}</h3>
                <h5 class="widget-user-desc text-right">{{ tarea.clase.seccion }}</h5>
            </div>

            <div class="card-footer">
                <div class="row">
                    <p>Total entregados: {{ tarea.obtener_total_entregados }}/{{ tarea.obtener_total_inscritos }}</p>
                    <hr>
                    <p>Total calificados: {{ tarea.obtener_total_calificados }}/{{ tarea.obtener_total_entregados }}</p>
                </div>
                <div class="row">


                </div>

            </div>
        </div>

        <div class="card">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tablon-tab" data-toggle="tab" href="#tablon" role="tab"
                       aria-controls="tablon"
                       aria-selected="true">ENTREGADOS - PARA CALIFICAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trabajo_de_clase-tab" data-toggle="tab" href="#trabajo_de_clase"
                       role="tab"
                       aria-controls="trabajo_de_clase"
                       aria-selected="false">NO ENTREGADOS</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade  p-3 show active" id="tablon" role="tabpanel"
                     aria-labelledby="tablon-tab">
                    <table class="table table-responsive table-striped projects">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 1%">
                                N°.
                            </th>
                            <th class="text-center" style="width: 20%">
                                ESTUDIANTE
                            </th>
                            <th class="text-center" style="width: 20%">
                                ARCHIVO
                            </th>
                            <th class="text-center" style="width: 20%">
                                NOTA
                            </th>
                            <th class="text-center" style="width: 20%">
                                OBS.
                            </th>
                            <th class="text-center" style="width: 20%">
                                ESTADO
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for foo in tarea.obtener_inscritos_entregados %}
                            <tr>
                                <td class="text-center">
                                    {{ forloop.counter }}
                                </td>

                                <td class="text-center">
                                    {{ foo.obtener_estudiante }}
                                </td>
                                <td class="text-center">

                                    <a target="_blank"  href="{{ foo.archivo.url }}" data-fancybox
                                       data-type="pdf"><i style="width: 20px; height: 20px;" class="fa fa-file-pdf"></i></a>
                                </td>
                                <td class="text-center">
                                    <input class="form-control input-sm agregar_calificacion" type="text"
                                           name="calificacion" value="{{ foo.calificacion|floatformat }}"
                                           id_tarea="{{ foo.pk }}"
                                           id="id_calificacion"> /{{ tarea.calificacion_maxima }}
                                </td>
                                <td class="text-center">
                                    <textarea class="form-control agregar_observacion" name="observacion"
                                              id="id_observacion" id_tarea="{{ foo.pk }}" cols="30"
                                              rows="6">{{ foo.retroalimentacion }}</textarea>
                                </td>
                                <td class="text-center">

                                    {% if foo.calificado %}
                                        <span class="badge badge-sm bg-gradient-success">CALIFICADO</span>
                                    {% else %}
                                        <span class="badge badge-sm bg-gradient-warning">NO CALIFICADO</span>
                                    {% endif %}

                                </td>


                            </tr>

                        {% empty %}
                            <tr>
                                <td colspan="10"
                                    class="text-center">No
                                    existen registro
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade p-3" id="trabajo_de_clase" role="tabpanel"
                     aria-labelledby="trabajo_de_clase-tab">
                    <table class="table table-responsive table-striped projects">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 1%">
                                N°.
                            </th>
                            <th class="text-center" style="width: 20%">
                                ESTUDIANTE
                            </th>
                            <th class="text-center" style="width: 20%">
                                ESTADO TAREA
                            </th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for foo in tarea.obtener_inscritos_no_entregados %}
                            <tr>
                                <td class="text-center">
                                    {{ forloop.counter }}
                                </td>

                                <td class="text-center">
                                    {{ foo }}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-sm bg-gradient-danger">NO ENTREGADO</span>
                                </td>


                            </tr>

                        {% empty %}
                            <tr>
                                <td colspan="10"
                                    class="text-center">No
                                    existen registro
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>

            </div>


        </div>
        <div class="form-group mt-3 text-right">
            <a href="javascript:history.back()" class="btn btn-primary">Regresar</a>
        </div>
    </div>

{% endblock %}


{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class=" contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <script>

        function ventana_modal(peticion, pk, titulo) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                dataType: "json",
                data: {
                    'peticion': peticion,
                    'id': pk,
                },
                success: function (data) {
                    if (data.respuesta === true) {
                        $('.contenido-modal').html(data.data);
                        $('#modalGeneric .modal-title').html(titulo);
                        $("#modalGeneric").modal({backdrop: 'static'}).modal('show');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    alert("Error de conexión.");
                },

            });
        }

    </script>
    <script>
        $(function () {
            var tab_trabajo_de_clase = localStorage.getItem('tab_trabajo_de_clase');
            if (!tab_trabajo_de_clase) {
                tab_trabajo_de_clase = "#tablon-tab";
                localStorage.setItem("tab_trabajo_de_clase", tab_trabajo_de_clase);
            }

            $('.nav-link').each(function () {
                if ($(this).attr('href') == tab_trabajo_de_clase) {
                    $(this).trigger('click');
                }
            }).click(function () {
                localStorage.setItem("tab_trabajo_de_clase", $(this).attr('href'));
            });
        });

    </script>

    <script>
        $(function () {

            function fancybox(archivo) {
                Fancybox.show([
                    {
                        src: archivo,
                        type: "iframe",
                        width: 640,
                        height: 360,
                    },
                ]);

            }


            $('.agregar_calificacion').on('blur', function () {
                var calificacion = $(this).val();

                if (calificacion) {

                    var id = $(this).attr('id_tarea');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{{request.path}}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'peticion': 'ingresar_calificacion',
                            'id': id,
                            'calificacion': calificacion,
                        },

                        success: function (data) {

                            if (data.respuesta === true) {
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    type: 'success',
                                    title: "Calificación guardada",
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            } else {
                                alert("Error de petición")
                            }
                        },
                        error: function () {
                            alert('Error de conexión')
                        }

                    });
                }
            });

            $('.agregar_observacion').on('blur', function () {
                var observacion = $(this).val();

                if (observacion) {

                    var id = $(this).attr('id_tarea');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{{request.path}}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'peticion': 'ingresar_observacion',
                            'id': id,
                            'observacion': observacion,
                        },

                        success: function (data) {

                            if (data.respuesta === true) {
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    type: 'success',
                                    title: "observación guardada",
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            } else {
                                alert("Error de petición")
                            }
                        },
                        error: function () {
                            alert('Error de conexión')
                        }

                    });
                }
            });
        });

    </script>



{% endblock %}
