<a href="javascript:;" id="option_tarea" class="btn btn-primary">Crear Tarea</a>
<div class="row mt-3">
    <table class="table table-striped">

        <tr>
            <th>DESCRIPCIÓN</th>
            <th>TITULO DE LA TAREA</th>
            <th>CALIFICACIÓN MÁXIMA</th>
            <th>FECHA DE ENTREGA</th>
            <th>ACCIONES</th>
        </tr>
        {% for foo in detalle %}
            <tr>
                <th colspan="5">{{ foo.nombre }}</th>
            </tr>
            {% for foo2 in foo.obtenerCampo %}
                <tr>
                    <th colspan="5"> {{ foo2.nombre }}</th>
                </tr>
                <tr>
                    {% for t in tarea %}
                        {% if t.obtener_tarea.campoubicacionNota.id == foo2.id %}
                            <th>
                            <td><h6>{{ t.titulo }}</h6></td>
                            <td><h6>{{ t.obtener_tarea.calificacion_maxima }} pts</h6></td>
                            <td><h6>{{ t.obtener_tarea.fecha_fin_entrega }}</h6></td>
                            <td class="text-center ">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            data-offset="-52">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu" role="menu">

                                        <a href="?peticion=ver_tareas_entregadas&id={{ t.pk }}"
                                           class="dropdown-item">Calificar</a>

                                        <a href="javascript:;"
                                           onclick="ventana_modal('mover_tarea','{{ t.obtener_tarea.pk }}',' Mover tarea')"
                                           class="dropdown-item">Mover</a>

                                        <a href="javascript:;"
                                           onclick="ventana_modal('editar_tarea','{{ t.pk }}','Editar tarea')"
                                           class="dropdown-item">Editar</a>

                                        {% if not t.obtener_tarea.existen_entregas %}
                                            <a href="javascript:;"
                                           onclick="eliminar_registro('eliminar_publicacion','{{ t }}','{{ t.pk }}')"
                                           class="dropdown-item">Eliminar</a>

                                        {% endif %}

                                    </div>
                                </div>
                            </td>
                            </th>
                        {% endif %}
                    {% empty %}
                        <td colspan="5"><h6>No registra tareas</h6></td>
                    {% endfor %}


                </tr>
            {% endfor %}

        {% endfor %}

    </table>
  <br><br><br>
</div>  <br><br><br>