{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="/configuracion">Inicio</a></li>
                    <li class="breadcrumb-item " aria-current="page"><a href="/configuracion/">Configuraciones</a></li>
                {% else %}
                    {% for foo in request.user.groups.all %}
                        {% if not foo.pk == 2 %}
                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            <li class="breadcrumb-item " aria-current="page" ><a href="/configuracion/">Configuraciones</a></li>
                        {% else %}

                            <li class="breadcrumb-item"><a href="/clase/?peticion=cursos_inscritos">Inicio</a></li>
                            <li class="breadcrumb-item " aria-current="page" ><a href="/configuracion/">Configuraciones</a></li>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">Profesores</li>

            </ol>
        </nav>
    </div>
{% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="btn-group">
            <a href="javascript:;"   id="option_profesor" class="btn btn-primary btn-sm">
                <i class="fas fa-bars"></i>     AÑADIR
            </a>
        </div>
    </div>
    <div class="row mt-3">

        <div class="container-fluid">
            <table class="table table-responsive table-striped projects">
                <thead>
                <tr>
                    <th class="text-center" style="width: 1%">
                        N°.
                    </th>
                    <th class="text-center" style="width: 20%">
                        Profesor
                    </th>

                    <th class="text-center" style="width: 20%">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for foo in profesor %}
                    <tr>
                        <td class="text-center text-sm ">
                            {{ forloop.counter }}
                        </td>

                        <td class="text-sm text-center ">
                            <h6 class="text-xms mb-0">{{ foo }}</h6>

                        </td>



                        <td class="text-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-offset="-52">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">

                                    <a href="javascript:;"
                                       onclick="eliminar_registro('eliminar_profesor','{{ foo }}','{{ foo.pk }}')"
                                       class="dropdown-item">Eliminar</a>

                                     <a href="javascript:;"
                                       onclick="ventana_modal('editar_profesor','{{ foo.pk }}','Editar profesor')"
                                       class="dropdown-item">Editar</a>
                                </div>
                            </div>
                        </td>


                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        <br><br><br><br><br><br>
    </div>
</div>


{% endblock %}


{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
     function ventana_modal(peticion, pk, titulo) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                dataType: "json",
                data: {
                    'peticion': peticion,
                    'id': pk,
                },
                success: function (data) {
                    if (data.respuesta === true) {
                        $('.contenido-modal').html(data.data);
                        $('#modalGeneric .modal-title').html(titulo);
                        $("#modalGeneric").modal({backdrop: 'static'}).modal('show');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    alert("Error de conexión.");
                },

            });
        }

        $(function () {

            $("#option_profesor").click(function () {
                ventana_modal('crear_profesor', '', 'Agregar Profesor');
            });
        });
    </script>


{% endblock %}
