{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>

            </ol>
        </nav>
    </div>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong> Métodos de califcación</strong></h5>
                    <p class="card-text">En esta opción usted podrá crear su modelo de calificación de acuerdo a su
                        fomra de calificación.</p>
                    <a href="/configuracion/?peticion=metodo_calificacion" class="btn btn-primary">Ingresar al
                        módulo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Profesores</strong></h5>
                    <p class="card-text">En esta opción usted podrá gestionar a los profesores del sistema.</p><br>
                    <a href="/configuracion/?peticion=profesor" class="btn btn-primary">Ingresar al
                        módulo</a>
                </div>
            </div>
        </div>
    </div>






{% endblock %}


{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}




{% endblock %}
