{% load extra_my %}
<div class="row mt-3">
    <table class="table table-valign-middle">

        <tr class="table-success">
            <th>DESCRIPCIÓN</th>
            <th>TITULO DE LA TAREA</th>
            <th>NOTA</th>

            <th></th>
        </tr>
        {% for foo in detalle %}
            <tr class="table-info">
                <th colspan="5">{{ foo.nombre }} <br>
                    NOTA:
                    {% with nota=foo|args:foo|args:request.user|call:"obtener_promedio_por_notas_segmentos" %}
                        {{ nota|floatformat:2}} <input type="hidden" class='promedio_segmento' value="{{ nota|floatformat:2 }}">
                    {% endwith %}
                </th>
            </tr>
            {% for foo2 in foo.obtenerCampo %}
                <tr class="table-warning">
                    <th colspan="5"> {{ foo2.nombre }}</th>
                </tr>
                <tr>
                    {% for t in publicacion_tipo_tarea %}
                        {% if t.obtener_tarea.campoubicacionNota.id == foo2.id %}
                            <tr class="table-warning">
                                <td></td>
                                <td><h6>{{ t.titulo }}</h6></td>
                                <td colspan="2">
                                    {% with tarea=t.obtener_tarea|args:t.obtener_tarea|args:request.user|call:"entrego_esta_tarea" %}

                                        {% if tarea %}
                                            {% with calificacion=t.obtener_tarea|args:request.user|call:"obtener_tarea_de_estudiante" %}
                                                <h6>{{ calificacion.calificacion }}/{{ t.obtener_tarea.calificacion_maxima }}</h6>
                                            {% endwith %}
                                        {% else %}
                                            <h6>0/ {{ t.obtener_tarea.calificacion_maxima }} - <span
                                                    class="badge badge-sm bg-gradient-danger">sin entregar</span></h6>
                                        {% endif %}
                                    {% endwith %}
                                </td>

                            </tr>

                        {% endif %}
                    {% empty %}
                        <td colspan="5"><h6>No registra tareas</h6></td>
                    {% endfor %}
                </tr>
                <td colspan="5" class="table-active">NOTA {{ foo2.nombre }} :

                    <span class="badge badge-sm bg-gradient-blue">
                          {% with promedio=foo2|args:foo2|args:request.user|call:"obtener_promedio_nota_campos" %}
                              {{ promedio |floatformat:2}}
                              <input type="hidden" name="" class="promedio_parcial_{{ foo.id }}"
                                     value=" {{ promedio|floatformat:2 }}">
                          {% endwith %}

                      </span>

                </td>
            {% endfor %}

            {#            <tr class="table-primary">#}
            {#                <th></th>#}
            {#                <th></th>#}
            {#                <th colspan="5">NOTA {{ foo.nombre }}:</th>#}
            {#            </tr>#}


        {% endfor %}
        <tr>
            <td colspan="5" class="table-active">PROMEDIO TOTAL:

                <span class="badge badge-sm bg-gradient-blue"><input type="text" class="form-control" id="promediototal"
                                                                     disabled readonly> </span>

            </td>
        </tr>

    </table>
    <br><br><br>
</div>  <br><br><br>

