{% load extra_my %}
<div class="row mt-3">
    <table class="table table-valign-middle">

        <tr>
            <th>DESCRIPCIÓN</th>
            <th>TITULO DE LA TAREA</th>
            <th>NOTA</th>

            <th></th>
        </tr>
        {% for foo in detalle %}
            <tr>
                <th colspan="5">{{ foo.nombre }}</th>
            </tr>
            {% for foo2 in foo.obtenerCampo %}
                <tr>
                    <th colspan="5"> {{ foo2.nombre }}</th>
                </tr>
                <tr>
                    {% for t in publicacion_tipo_tarea %}
                        {% if t.obtener_tarea.campoubicacionNota.id == foo2.id %}
                            <tr>
                                <td></td>
                                <td><h6>{{ t.titulo }}</h6></td>
                                <td>
                                    {% with tarea=t.obtener_tarea|args:t.obtener_tarea|args:request.user|call:"entrego_esta_tarea" %}

                                        {% if tarea %}
                                            {% with calificacion=t.obtener_tarea|args:request.user|call:"obtener_tarea_de_estudiante" %}
                                                <h6>{{ calificacion.calificacion }}/{{ t.obtener_tarea.calificacion_maxima }}</h6>
                                            {% endwith %}
                                        {% else %}
                                            <h6>0/ {{ t.obtener_tarea.calificacion_maxima }} - sin entregar </h6>
                                        {% endif %}
                                    {% endwith %}
                                </td>

                            </tr>
                        {% endif %}
                    {% empty %}
                        <td colspan="5"><h6>No registra tareas</h6></td>
                    {% endfor %}
                </tr>
                <td colspan="5">CALIFICACIÓN {{ foo2.nombre }} :
                    {% with nota=foo2|args:foo2|args:request.user|call:"obtener_total_nota_campos" %}
                        {{ nota }}
                    {% endwith %}
                    /
                    {% with cantidad=foo2|args:foo2|call:"obtener_cantiad_de_tarea" %}
                        {{ cantidad }}
                    {% endwith %}
                    =
                    {% with promedio=foo2|args:foo2|args:request.user|call:"obtener_promedio_nota_campos" %}
                        {{ promedio }}
                    {% endwith %}

                </td>
            {% endfor %}

        {% endfor %}

    </table>
    <br><br><br>
</div>  <br><br><br>