<input type="hidden" name="peticion" value="{{ peticion }}"/>
<input type="hidden" name="id" value="{{ id_tarea }}"/>

<div class="row-fluid">

    {{ form }}
    <br>
</div>

<div class="row-fluid">
    <div style="text-align: right; float: left; width: 100%">
        <button type="submit" id="submit" class="btn btn-success">Guardar
        </button>
        <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">
            Cancelar</a>
    </div>
</div>

<script>
    $(function () {
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong happended.'
            }
        });
    });
</script>




