<div class="container-fluid">
    <div class="timeline">

        {% for foo in publicacion %}
            <div>
                {% if foo.tipo_publicacion == 1 %}
                    <i class="fas fa-user bg-green"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> {{ foo.fecha_creacion }}
                            {% if  foo.tipo_publicacion == 1%}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-offset="-122">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a href="?peticion=ver_tarea&clase_id={{ foo.clase.pk }}&tarea_id={{ foo.pk }}" class="dropdown-item">Ver tarea</a>

                                </div>
                            </div>
                            {% endif %}
                        </span>

                        <h3 class="timeline-header"><a href="#">{{ foo.usuario_creacion }}</a> Creo una nueva tarea <br>
                            <p class="text-xs  text-secondary mb-0">{{ foo.clase.obtener_profesor_clase|upper }}</p>
                        </h3>

                        <div class="timeline-body">
                            <p class="text-xs  text-secondary mb-0">{{ foo.instrucciones }}</p>
                        </div>
                        <div class="timeline-footer">

                        </div>
                    </div>

                {% endif %}

                {% if foo.tipo_publicacion == 2 %}

                    <i class="fas fa-user bg-green"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> {{ foo.fecha_creacion }}</span>
                        <h3 class="timeline-header"><a href="#">{{ foo.usuario_creacion }}</a> Creo una nuevo
                            material<br>
                            <p class="text-xs  text-secondary mb-0">{{ foo.clase.obtener_profesor_clase|upper }}</p>
                        </h3>
                        <div class="timeline-body">
                            <p class="text-xs  text-secondary mb-0">{{ foo.instrucciones }}</p>
                            <ul class="mailbox-attachments d-flex align-items-stretch clearfix mt-2">

                                <div class="row">
                                    {#                                    {% for material in foo.obtener_detalle_material %}#}
                                    <li>
                                        <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                        <div class="mailbox-attachment-info">
                                            <a href="{{ foo.obtener_detalle_material.archivo.url }}" target="_blank"
                                               class="mailbox-attachment-name"><i
                                                    class="fas fa-paperclip"></i>
                                                {{ foo.obtener_detalle_material.archivo }}</a>
                                            <span class="mailbox-attachment-size clearfix mt-1">
                                  <span>1,245 KB</span>
                                  <a href="{{ foo.obtener_detalle_material.archivo.url }}"
                                     class="btn btn-default btn-sm float-right"
                                     download><i
                                          class="fas fa-cloud-download-alt"></i></a>
                                </span>
                                        </div>
                                    </li>
                                    {#                                    {% endfor %}#}


                                </div>
                            </ul>
                        </div>
                        <div class="timeline-footer">

                        </div>
                    </div>


                {% endif %}

                {% if foo.tipo_publicacion == 3 %}

                    <i class="fas fa-video bg-maroon"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> {{ foo.fecha_creacion }}</span>

                        <h3 class="timeline-header"><a href="#">{{ foo.usuario_creacion }}</a> Compartio un video<br>
                            <p class="text-xs  text-secondary mb-0">{{ foo.clase.obtener_profesor_clase|upper }}</p>
                        </h3>

                        <div class="timeline-body">
                            <p class="text-xs  text-secondary mb-0">{{ foo.instrucciones }}</p>
                            <div class="embed-responsive embed-responsive-16by9 mt-2">
                                <iframe class="embed-responsive-item"
                                        src="{{ foo.obtener_detalle_video.urlvideo }}"
                                        allowfullscreen></iframe>
                            </div>


                        </div>
                        <div class="timeline-footer">

                        </div>

                    </div>
                {% endif %}
            </div>
        {% endfor %}


    </div>
</div>