<div class="container-fluid">

    <div class="row mt-3">

        <div class="container-fluid">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th class="text-center" style="width: 1%">
                        N°.
                    </th>
                    <th class="text-center" style="width: 20%">
                        Titulo
                    </th>
                    <th class="text-center" style="width: 20%">
                        Fecha máxima de entrega
                    </th>

                    <th class="text-center" style="width: 20%">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for foo in publicacion_tipo_tarea %}
                    <tr>
                        <td class="text-center text-sm ">
                            {{ forloop.counter }}
                        </td>

                        <td class="text-center  text-sm ">
                            <h6 class="text-xms mb-0">{{ foo.titulo }}</h6>

                        </td>

                        <td class="text-center text-sm ">

                            {{ foo.fecha_fin_entrega }}
                        </td>

                        <td class="text-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-offset="-52">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">

                                    {% if foo.tipo_publicacion == 1 %}
                                        <a href="/clase/?peticion=tarea&clase_id={{ foo.clase.pk }}&tarea_id={{ foo.pk }}" class="dropdown-item">Ver tarea</a>

                                    {% endif %}

                                </div>
                            </div>
                        </td>


                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        <br><br><br><br><br><br>
    </div>
</div>
