<div class="container-fluid">

    <div class="row mt-3">

        <div class="container-fluid">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th class="text-center" style="width: 1%">
                        N°.
                    </th>
                    <th class="text-center" style="width: 20%">
                        Titulo
                    </th>
                    <th class="text-center" style="width: 20%">
                        Fecha máxima de entrega
                    </th>

                    <th class="text-center" style="width: 20%">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for foo in publicacion_tipo_tarea %}
                    <tr>
                        <td class="text-center text-sm ">
                            {{ forloop.counter }}
                        </td>

                        <td class="text-center  text-sm ">
                            <h6 class="text-xms mb-0">{{ foo.titulo }}</h6>

                        </td>

                        <td class="text-center text-sm ">

                            {{ foo.obtener_tarea.fecha_fin_entrega }}
                        </td>

                        <td class="text-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-offset="-52">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">

                                    {% if foo.tipo_publicacion == 1 %}
                                        <a href="/clase/?peticion=ver_tarea&clase_id={{ foo.clase.pk }}&tarea_id={{ foo.pk }}" class="dropdown-item">Ver tarea</a>

                                    {% endif %}

                                </div>
                            </div>
                        </td>


                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        <br><br><br><br><br><br>
    </div>
   <div class="row">

        <div class="pagination-container justify-content-center">
            <ul class="pagination pagination-secondary">
                {% if publicacion_tipo_tarea.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?peticion=estudiante_ver_clase&id={{ curso.pk }}&page2={{ publicacion_tipo_tarea.previous_page_number }}"
                           aria-label="Previous">Anterior
                        </a>
                    </li>
                {% endif %}
                {% for i in publicacion_tipo_tarea.paginator.page_range %}
                    {% if i == publicacion_tipo_tarea.number %}
                        <li class="page-item active">
                            <a class="page-link" href="/clase/?peticion=estudiante_ver_clase&id={{ curso.pk }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="?peticion=estudiante_ver_clase&id={{ curso.pk }}&page2={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if publicacion_tipo_tarea.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?peticion=estudiante_ver_clase&id={{ curso.pk }}&page2={{ publicacion_tipo_tarea.next_page_number }}"
                           aria-label="Next"> <span
                                aria-hidden="true">Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
