{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Curso</li>
                <li class="breadcrumb-item active" aria-current="page">{{ curso.nombre }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ tarea.titulo }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">INFORMACIÓN GENERAL DE LA TAREA</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label href="javascript:;" class="info-box-text"> TITULO DE LA TAREA </label>:
                        <p>{{ tarea.titulo |upper }}</p>
                        <label href="javascript:;" class="info-box-text"> NOTA MÁXIMA</label>:
                        <p>{{ tarea.calificacion_maxima |upper }}</p>
                        <label href="javascript:;" class="info-box-text">FECHA MÁXIMA DE ENTREGA </label>:
                        <p>{{ tarea.fecha_fin_entrega }}</p>

                    </div>
                    <div class="col">

                    </div>

                </div>
                <div class="row">

                    <label> INSTRUCCIONES DE LA TAREA: </label>
                    <textarea class="form-control" disabled readonly>{{ tarea.instrucciones }}</textarea>

                </div>

            </div>

        </div>

{% endblock %}