{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Curso</li>
                <li class="breadcrumb-item active" aria-current="page">{{ curso.nombre }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ tarea.titulo }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">INFORMACIÓN GENERAL DE LA TAREA</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label href="javascript:;" class="info-box-text"> TITULO DE LA TAREA </label>:
                        <p>{{ tarea.titulo |upper }}</p>
                        <label href="javascript:;" class="info-box-text"> NOTA MÁXIMA</label>:
                        <p>{{ tarea.calificacion_maxima |upper }}</p>
                        <label href="javascript:;" class="info-box-text">FECHA MÁXIMA DE ENTREGA </label>:
                        <p>{{ tarea.fecha_fin_entrega }}</p>
                    </div>
                    <div class="col">
                        <div class="text-xl-right">

                            <label class="info-box-text">SUBIR TAREA</label>:
                            <div class="btn btn-success btn-file">
                                <i class="fas fa-paperclip"></i> Subir archivo
                                <input type="file" name="attachment">
                            </div>
                            <hr>

                            <label href="javascript:;" class="info-box-text">ESTADO DE LA TAREA</label>:
                            <p>
                                {% if tarea.obtener_tarea.estado_tarea == 1 %}
                                    <span class="badge badge-sm bg-gradient-success">{{ tarea.obtener_tarea.get_estado_tarea_display }}</span>
                                {% endif %}

                            {% if tarea.obtener_tarea.estado_tarea == 2 %}
                                    <span class="badge badge-sm bg-gradient-warning">{{ tarea.obtener_tarea.get_estado_tarea_display }}</span>
                                {% endif %}

                            {% if tarea.obtener_tarea.estado_tarea == 3 %}
                                    <span class="badge badge-sm bg-gradient-danger">{{ tarea.obtener_tarea.get_estado_tarea_display }}</span>
                                {% endif %}
                            </p>
                            <hr>
                            <label href="javascript:;" class="info-box-text"> FECHA DE ENTREGA</label>:
                            <p>30 de Junio de 2022</p>
                            <hr>
                            <label href="javascript:;" class="info-box-text">NOTA OBTENIDA </label>:
                            <p>8</p>
                            <hr>
                            <label> RETROALIMENTACIÓN: </label>
                            <p>ashdsadasdsad dsad asd asd asd as das das dsad asd asd as das das dsad asd asd as das das
                                dsad asd asd as das das dsad asd asd as das das dsa sa dsa </p>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <label> INSTRUCCIONES DE LA TAREA: </label>
                    <textarea class="form-control" disabled readonly>{{ tarea.instrucciones }}</textarea>
                </div>
                <hr>

            </div>

        </div>

{% endblock %}