{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block opciones %}
{% endblock %}
{% block rutas %}
    <div class="row mb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/clase/?peticion=cursos_inscritos">Mis cursos</a></li>
                <li class="breadcrumb-item"><a href="/clase/?peticion=estudiante_ver_clase&id={{ curso.id }}">{{ curso.nombre }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tarea.titulo }}</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">INFORMACIÓN GENERAL DE LA TAREA</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label href="javascript:;" class="info-box-text"> TITULO DE LA TAREA </label>:
                        <p>{{ tarea.titulo |upper }}</p>
                        <label href="javascript:;" class="info-box-text"> NOTA MÁXIMA</label>:
                        <p>{{ tarea.obtener_tarea.calificacion_maxima |upper }}</p>
                        <label href="javascript:;" class="info-box-text">FECHA MÁXIMA DE ENTREGA </label>:
                        <p>{{ tarea.obtener_tarea.fecha_fin_entrega }}</p>
                    </div>
                    <div class="col">
                        <div class="text-xl-right">

                            {% if not tarea.obtener_tarea.puede_subir_tarea == True %}
                                {% if not estado_entrega.calificado %}
                                    <label class="info-box-text">SUBIR TAREA</label>:
                                    <div class="btn btn-default">
                                        <a href="javascript:;"
                                           onclick="ventana_modal('subir_tarea','{{ tarea.obtener_tarea.pk }}','Subir tarea')"><i
                                                class="fas fa-paperclip"></i> Subir archivo</a>
                                    </div>
                                {% endif %}

                            {% else %}
                                <span class="badge badge-sm bg-gradient-warning">El plazo para subir la tarea ha expirado.</span>
                            {% endif %}
                            <hr>

                            <label href="javascript:;" class="info-box-text">ESTADO DE LA TAREA</label>:
                            <p>
                                {% if estado_entrega.estado_tarea == 1 %}
                                    <span class="badge badge-sm bg-gradient-success">{{ estado_entrega.get_estado_tarea_display }}</span>
                                {% endif %}

                                {% if estado_entrega.estado_tarea == 2 %}
                                    <span class="badge badge-sm bg-gradient-warning">{{ estado_entrega.get_estado_tarea_display }}</span>
                                {% endif %}

                                {% if estado_entrega.estado_tarea == 3 %}
                                    <span class="badge badge-sm bg-gradient-danger">{{ estado_entrega.get_estado_tarea_display }}</span>
                                {% endif %}
                                {% if not estado_entrega %}
                                    <span class="badge badge-sm bg-gradient-danger">NO HA ENTREGADO LA TAREA</span>
                                {% endif %}
                            </p>

                            {% if estado_entrega.estado_tarea == 1 %}
                                <hr>
                                <label href="javascript:;" class="info-box-text"> FECHA DE ENTREGA</label>:
                                <p>{{ estado_entrega.fecha_de_entrega }}</p>
                                <hr>
                                <label href="javascript:;" class="info-box-text">NOTA OBTENIDA </label>:
                                <p>{{ estado_entrega.calificacion }}</p>
                                <hr>
                                <label> RETROALIMENTACIÓN: </label>
                                <p>{{ estado_entrega.retroalimentacion }} </p>

                            {% endif %}

                        </div>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <label> INSTRUCCIONES DE LA TAREA: </label>
                    <textarea rows="15" class="form-control" disabled readonly>{{ tarea.instrucciones }}</textarea>
                </div>
                <hr>
                <div class="form-group mt-3 text-right">
                    <a href="javascript:history.back()" class="btn btn-primary">Regresar</a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="modalGeneric">

        <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"></h5>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class=" contenido-modal">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function ventana_modal(peticion, pk, titulo) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                dataType: "json",
                data: {
                    'peticion': peticion,
                    'id': pk,
                },
                success: function (data) {
                    if (data.respuesta === true) {
                        $('.contenido-modal').html(data.data);
                        $('#modalGeneric .modal-title').html(titulo);
                        $("#modalGeneric").modal({backdrop: 'static'}).modal('show');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    alert("Error de conexión.");
                },

            });
        }
    </script>
{% endblock %}

